# Atividade Final

* Importação das bibliotecas e modulos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append('../')

# Importação bibliateca de funções
from src.data_visulization.visualization import visuliza_duplicados, visuliza_dados_NaN
from src.data_cleaning.cleaning import drop_duplicados, limpa_dados_NAN

#### Carregamento dos dados

In [10]:
df_consumo_energia = pd.read_csv("../data/consumo_energia_eletrica.csv", sep=',')
df_estados = pd.read_csv("../data/estado_regiao.csv", sep=';', encoding='ISO-8859-1')

In [13]:
df_consumo_energia.groupby(['sigla_uf']).size()

sigla_uf
AC    1478
AL    1478
AM    1477
AP    1477
BA    1478
CE    1478
DF    1478
ES    1478
GO    1477
MA    1478
MG    1477
MS    1478
MT    1478
PA    1478
PB    1478
PE    1478
PI    1477
PR    1478
RJ    1477
RN    1478
RO    1478
RR    1478
RS    1477
SC    1477
SE    1478
SP    1477
TO    1478
dtype: int64

In [12]:
df_estados

    id_estado sigla               estado        regiao    pais
0           1    AC                 Acre         Norte  Brasil
1           2    AL              Alagoas      Nordeste  Brasil
2           3    AP                Amapá         Norte  Brasil
3           4    AM             Amazonas         Norte  Brasil
4           5    BA                Bahia      Nordeste  Brasil
5           6    CE                Ceará      Nordeste  Brasil
6           7    DF     Distrito Federal  Centro-Oeste  Brasil
7           8    ES       Espírito Santo       Sudeste  Brasil
8           9    GO                Goiás  Centro-Oeste  Brasil
9          10    MA             Maranhão      Nordeste  Brasil
10         11    MT          Mato Grosso  Centro-Oeste  Brasil
11         12    MS   Mato Grosso do Sul  Centro-Oeste  Brasil
12         13    MG         Minas Gerais       Sudeste  Brasil
13         14    PA                 Pará         Norte  Brasil
14         15    PB              Paraíba      Nordeste  Brasil
15         16    PR               Paraná           Sul  Brasil
16         17    PE           Pernambuco      Nordeste  Brasil
17         18    PI                Piauí      Nordeste  Brasil
18         19    RJ       Rio de Janeiro       Sudeste  Brasil
19         20    RN  Rio Grande do Norte      Nordeste  Brasil
20         21    RS    Rio Grande do Sul           Sul  Brasil
21         22    RO             Rondônia         Norte  Brasil
22         23    RR              Roraima         Norte  Brasil
23         24    SC       Santa Catarina           Sul  Brasil
24         25    SP            São Paulo       Sudeste  Brasil
25         26    SE              Sergipe      Nordeste  Brasil
26         27    TO            Tocantins         Norte  Brasil

In [ ]:
# identificação de encoding 
import chardet

# Abre o arquivo em modo binário
with open("../data/estado_regiao.csv", 'rb') as f:
    result = chardet.detect(f.read(10000))  # Lê os primeiros 10k bytes

print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

* Reaização de união dos dataset 
> comando (merge)

In [3]:
df.head()

    ano  mes sigla_uf tipo_consumo  numero_consumidores  consumo
0  2004    1       TO        Total                  NaN    65876
1  2004    1       BA        Total                  NaN  1444451
2  2004    1       PR        Total                  NaN  1596274
3  2004    1       RS        Total                  NaN  1780912
4  2004    1       GO        Total                  NaN   630624

* Analisando a quantidade de registros e Atributos

In [4]:
df.shape

(39897, 6)

#### Analisando dados faltantes

* Analisando os tipos de dados, sé há dados faltantes?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39897 entries, 0 to 39896
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ano                  39897 non-null  int64
 1   mes                  39897 non-null  int64
 2   sigla_uf             39897 non-null  object
 3   tipo_consumo         39897 non-null  object
 4   numero_consumidores  26937 non-null  float64
 5   consumo              39897 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ MB

In [6]:
# Analisando a quantidade em percentual de dados faltantes

separacao = df.isna().sum()
final = (separacao / len(df['numero_consumidores'])) * 100
final

ano                     0.000000
mes                     0.000000
sigla_uf                0.000000
tipo_consumo            0.000000
numero_consumidores    32.483645
consumo                 0.000000
dtype: float64

In [7]:
visuliza_dados_NaN(df)

Foram detectado ano                        0
mes                        0
sigla_uf                   0
tipo_consumo               0
numero_consumidores    12960
consumo                    0
dtype: int64 dados NaN

         ano    mes  sigla_uf  tipo_consumo  numero_consumidores  consumo
0      False  False     False         False                 True    False
1      False  False     False         False                 True    False
2      False  False     False         False                 True    False
3      False  False     False         False                 True    False
4      False  False     False         False                 True    False
...      ...    ...       ...           ...                  ...      ...
39892  False  False     False         False                False    False
39893  False  False     False         False                False    False
39894  False  False     False         False                False    False
39895  False  False     False         False                False    False
39896  False  False     False         False                False    False

[39897 rows x 6 columns]

* De acordo com as instruções dos enunciado 
> Instruções para correção de dados ausentes  
> * Exclua todos os dados ausentes.

In [8]:
"""conforme analise previa foram detectado dados ausentes apenas no numero de consumidores,
que equivalem a 32.48% dos dados, esses dados serão excluidos.
"""
limpa

NameError: name 'limpa' is not defined