# Atividade Final

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("consumo_energia_eletrica.csv", sep=',')
df.shape

(39897, 6)

In [4]:
separacao = df.isna().sum()
final = (separacao / 39897) * 100
final

ano                     0.000000
mes                     0.000000
sigla_uf                0.000000
tipo_consumo            0.000000
numero_consumidores    32.483645
consumo                 0.000000
dtype: float64

In [5]:
df.duplicated().sum()

1017

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39897 entries, 0 to 39896
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ano                  39897 non-null  int64
 1   mes                  39897 non-null  int64
 2   sigla_uf             39897 non-null  object
 3   tipo_consumo         39897 non-null  object
 4   numero_consumidores  26937 non-null  float64
 5   consumo              39897 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ MB